# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Build outputs
dist/
dist-ssr/
build/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log
logs/

# Local env files
.env
.env.local
.env.*.local
*.env

# IDE / Editor configuration files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Temporary/Cache folders
.eslintcache
.parcel-cache
.cache/
.temp/
temp/
tmp/
